<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MobideoEnvironmentUrl" value="https://sdsrv30.mobideocloud.com"/>
    <add key="UploadFileTarget" value="CustomerFiles" />
    <add key="CustomerFilesUploadFolderName" value="MSPImport"/>
    <add key="MobideoUserName" value="tamir@mobideo.com"/>
    <add key="MobideoUserPassword" value="2222"/>
  </appSettings> 
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GuideServicesQueryApiWebService">
                    <security mode="Transport" />
                </binding>
                <binding name="GuideServicesQueryApiWebService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://delektylerqa.mobideocloud.com/GuideServices/Api/query.asmx" binding="basicHttpBinding" bindingConfiguration="GuideServicesQueryApiWebService" contract="Query.GuideServicesQueryApiWebService" name="GuideServicesQueryApiWebService" />
        </client>
    </system.serviceModel>
	<!--<TaskOutlineLevel>5</TaskOutlineLevel>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
